*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    color: aqua;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;

}

.banner img {
    width: 100%;
    margin-bottom: 40px;
    height: 200px;
    padding: 0px;

}

.card article {
    width:20%;
    display: block;
    flex-wrap: wrap;

}

.card {
    width: 80%;
    display: block;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    flex-wrap: wrap;
}

.bottom-right sunset img {
    position:absolute;
    bottom: 8px;
    right: 16px
}


#horiseon-refractor-repository img {
    width: 80%;
    margin-bottom: 40px;
    padding: 0px;
    height: 400px;
    margin-right: -24px;
    
    
}

#prework-study-guide img {
    width: 40%;
    margin-bottom: 20px;
    padding: 0px;
    height: 100px;    
}

#footer {
    display: inline-block;
    justify-content: space-between;
    width: 80%;
}
