* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    color: aqua;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;

}

.banner img {
    width: 100%;
    margin-bottom: 40px;
    height: 200px;
    padding: 0px;

}

#section card header {
    width: 20%;
    display: block;
    flex-wrap: wrap;

}

#section card {
    width: 80%;
    display: block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    flex-wrap: wrap;
}

p {
    width: 80%;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    float: right;
    justify-content: space-between;
}

a {
    width: 20%;
}

.bottom-right sunset img {
    position: absolute;
    bottom: 8px;
    right: 16px
}

#header About Me {
    width: 20%;
    display: block;
    flex-wrap: wrap;
    height: 100 px;
}

#horiseon-refractor-repository img {
    width: 80%;
    padding: 0px;
    height: 500px;
    margin: 0 24 0 0
}

img { 
    display: block;
    flex-wrap: wrap;
    max-height: 200px;
    float: inline-end;
    padding: 0px;
    width: 40%;
}

#flex-container img {
    display: flex;
}

.footer {
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    color: aqua;
}

.footer f1 {
    display: block;
    font-size: 48px;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 20%;
}

.footer nav {
    padding-top: 0px;
    margin-top: 20px;   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    justify-content: flex-end;
    display: block;
}
.footer nav ul {
    display: block;
    justify-content: flex-end;
    width: 80%;
}